body {
    margin: 0;
    font-family: "'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;";
    background: #eaeaea;
  }
  
  section#teste {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
     }
  
  section#teste #container ul {
    display: flex;
    background: #323639;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    padding-left: 30px;
    padding-right: 30px;
  }
  
  section#teste #container ul li {
    display: flex;
    align-items: center;
    min-height: 48px;
    margin-left: 60px;
    font-style:italic
  }
  
  section#teste #container ul li:first-child {
    margin-left: 0;
  }
  
  section#teste #container ul li a {
    color: #f1f1f1;
  }

.cardapio { 
    width:100%; 
    display:flex; 
    flex-wrap:wrap; 
}

.cardapio .itemBox { 
    position:relative; 
    width:100%; 
    height:auto; 
    margin:5px; 
    background-color:#fff; 
    padding:0.8em;
    border-radius:4px; 
    overflow:hidden; 
    display:grid; 
}

.cardapio .itemBox img { 
    width: 100%;
    height: 16em;
    margin-bottom: 2px; 
    float: left; 
}

.cardapio .itemBox h1 { 
    color:#4297cb; 
    font-size:1.5em; 
    margin-bottom:5px; 
    padding-bottom:5px; 
    border-bottom:1px #f4f4f4 solid;
    width:100%;
    float:left;
}

.cardapio .itemBox p {
    width:100%;
    float:left;
    margin-bottom:10px;
    color:#444; 
    font-size:1em; 
}

@media (min-width:48em){
.cardapio .itemBox { width:30.6%; }
}

